main{
    padding-bottom: 70px;
}
.main-title{
    font-family: 'helveticaRegular', Times, serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
}
.main-desc{
    color: #585555;
    font-family: 'helveticaRegular', Times, serif;
    font-size: 15px;
    padding-right: 50px;
}
.main-div{
    width: 50%;
    margin-top: 25px;
}
.main-div:first-child{
    margin-right: 20px;
}
.main-div:last-child{
    margin-left: 20px;
}

.main-names{
    color: #5b5b5b;
    font-size: 15px;
}
.main-img{
    display: block;
    text-align: center;
    width: 85px;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid grey;
}
.main-img02{
    background-image: url(../../img/portfolio/project_third.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.main-img01{
    background-image: url(../../img/portfolio/project_first.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.main-img03{
    background-image: url(../../img/portfolio/project_second.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.main-medium{
    margin: 0 20px;
}
.main_ul{
    width: 100%;
}