header{
    background: black;
}

.nav-header{
    padding: 10px 0;
    margin-left: 120px;
}

.nav-header li{
    padding: 0 30px;
}

.nav-header li+li{
    border-left: 2px solid #fff;
}

.nav-header li:first-child{
    padding: 0;
    padding-right: 30px;
}

.nav-header li a{
    font-family: "helveticaLightCondensed", Times, serif;
    font-size: 25px;
    font-weight: 500;
    transition: color 0.4s;
}

.nav-header li a:hover{
    color: #da2020;
}
