.contact{
    margin-top: 25px;
}
.contact p{
    font-family: 'helveticaRegular', Times, serif;
    font-size: 20px;
}
.contact a{
    display: block;
    color:rgb(68, 119, 95);
    margin-left: 5px;
}
.link{
    color:rgb(68, 119, 95);
}
.contact-mobile{
    align-items: center;
}
.contact-table{
    font-family: 'helveticaRegular', Times, serif;
    font-size: 18px;
    font-weight: normal;
    border: 1px solid black;
    border-collapse: collapse;  
}
.contact-table a{
    font-family: 'helveticaRegular', Times, serif;
}
.contact-table th, .contact-table td{
    padding: 10px;
    border: 1px solid grey;
}
